[submodule "ext/drjit-core"]
    path = ext/drjit-core
    url = git@github.com:UCSD-E4E/drjit-core.git
[submodule "ext/nanobind"]
    path = ext/nanobind
    url = https://github.com/wjakob/nanobind
